<HTML>
<HEAD>
<TITLE>1 big, 12 small</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="A4" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:210mm; 
		 height:297mm; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.417in; 
		 top:3.25in; 
		 width:3.375in; 
		 height:5.083in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.5in; 
		 top:.5in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.427in; 
		 top:0.5in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.333in; 
		 top:0.5in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.26in; 
		 top:0.5in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image6" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:3.25in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>

<DIV ID="image7" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.25in; 
		 top:3.25in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image8" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:6in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image9" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.25in; 
		 top:6in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image10" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:8.75in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image11" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.417in; 
		 top:8.75in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image12" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.323in; 
		 top:8.75in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image13" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.25in; 
		 top:8.75in; 
		 width:1.5in; 
		 height:2.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
