<HTML>
<HEAD>
<TITLE>2 portrait, 1 landscape</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 hptype="page"
	 hppagesizename="A4"
	 style=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:210mm;
		 height:297mm;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:0.646in;
		 width:3.5in;
		 height:4.667in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note1"
	 HPTYPE="text"
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:5.552in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.271in;
		 top:0.646in;
		 width:3.5in;
		 height:4.667in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note2"
	 HPTYPE="text"
	 HPMATCHTO="image2"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.271in;
		 top:5.552in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:1.74in;
		 top:6.677in;
		 width:4.667in;
		 height:3.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note3"
	 HPTYPE="text"
	 HPMATCHTO="image3"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:1.74in;
		 top:10.344in;
		 width:4.667in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
