<HTML>
<HEAD>
<TITLE>4 photos, 2 size captions</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="A4"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:210mm;
		 height:297mm;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:.5in;
		 top:.5in;
		 width:3.4in;
		 height:5.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.38in;
		 top:4.9in;
		 width:3.4in;
		 height:5.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.38in;
		 top:.5in;
		 width:3.4in;
		 height:3.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note3"
	 HPTYPE="text"
	 HPMATCHTO="image3"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.38in;
		 top:4.2in;
		 width:3.4in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="note2"
	 HPTYPE="text"
	 HPMATCHTO="image2"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.375in;
		 top:10.594in;
		 width:3.4in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="note1"
	 HPTYPE="text"
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:6.198in;
		 width:3.4in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image4"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:6.896in;
		 width:3.4in;
		 height:3.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note4"
	 HPTYPE="text"
	 HPMATCHTO="image4"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:10.594in;
		 width:3.4in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
