<HTML>
<HEAD>
<TITLE>1 big, 12 small</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="Letter" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:8.5in; 
		 height:11in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.5in; 
		 top:3.083in; 
		 width:3.5in; 
		 height:4.7in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.5in; 
		 top:.5in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.5in; 
		 top:.5in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.5in; 
		 top:.5in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.5in; 
		 top:.5in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image6" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:3.083in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>

<DIV ID="image7" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.5in; 
		 top:3.083in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image8" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:5.688in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image9" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.5in; 
		 top:5.688in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image10" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:8.26in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image11" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.5in; 
		 top:8.26in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image12" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.5in; 
		 top:8.26in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image13" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:6.5in; 
		 top:8.26in; 
		 width:1.5in; 
		 height:2.1in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
