<HTML>
<HEAD>
<TITLE>2 portrait, 1 landscape</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="8x10"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:8.0in;
		 height:10.0in;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:0.454545454545in;
		 width:3.29411764706in;
		 height:4.24272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note1"
	 HPTYPE="text"
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:4.90545454545in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:0.454545454545in;
		 width:3.29411764706in;
		 height:4.24272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note2"
	 HPTYPE="text"
	 HPMATCHTO="image2"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:4.90545454545in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:1.78447058824in;
		 top:5.73909090909in;
		 width:4.39247058824in;
		 height:3.18181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note3"
	 HPTYPE="text"
	 HPMATCHTO="image3"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:1.78447058824in;
		 top:9.1in;
		 width:4.39247058824in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
