<HTML>
<HEAD>
<TITLE>6 photos, captions</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="Letter"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:8.5in;
		 height:11in;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:.5in;
		 top:.5in;
		 width:3.5in;
		 height:2.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note1"
	 HPTYPE="text"
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:3.2in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image5"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:7.302in;
		 width:3.5in;
		 height:2.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note5"
	 HPTYPE="text"
	 HPMATCHTO="image5"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:9.99in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:3.906in;
		 width:3.5in;
		 height:2.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note3"
	 HPTYPE="text"
	 HPMATCHTO="image3"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.5in;
		 top:6.604in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.5in;
		 top:.5in;
		 width:3.5in;
		 height:2.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note2"
	 HPTYPE="text"
	 HPMATCHTO="image2"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.5in;
		 top:3.2in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image6"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.5in;
		 top:7.302in;
		 width:3.5in;
		 height:2.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note6"
	 HPTYPE="text"
	 HPMATCHTO="image6"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.5in;
		 top:9.99in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image4"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.5in;
		 top:3.906in;
		 width:3.5in;
		 height:2.5in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note4"
	 HPTYPE="text"
	 HPMATCHTO="image4"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.5in;
		 top:6.604in;
		 width:3.5in;
		 height:.35in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
