<HTML>
<HEAD>
<TITLE>6 photos, captions</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="8x10"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:8.0in;
		 height:10.0in;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:0.454545454545in;
		 width:3.29411764706in;
		 height:2.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note1"
	 HPTYPE="text"
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:2.90909090909in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image5"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:6.63818181818in;
		 width:3.29411764706in;
		 height:2.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note5"
	 HPTYPE="text"
	 HPMATCHTO="image5"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:9.08181818182in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:3.55090909091in;
		 width:3.29411764706in;
		 height:2.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note3"
	 HPTYPE="text"
	 HPMATCHTO="image3"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:6.00363636364in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:0.454545454545in;
		 width:3.29411764706in;
		 height:2.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note2"
	 HPTYPE="text"
	 HPMATCHTO="image2"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:2.90909090909in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image6"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:6.63818181818in;
		 width:3.29411764706in;
		 height:2.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note6"
	 HPTYPE="text"
	 HPMATCHTO="image6"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:9.08181818182in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image4"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:3.55090909091in;
		 width:3.29411764706in;
		 height:2.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note4"
	 HPTYPE="text"
	 HPMATCHTO="image4"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.23529411765in;
		 top:6.00363636364in;
		 width:3.29411764706in;
		 height:0.318181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
