<HTML>
<HEAD>
<TITLE>2 big, 4 small</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="Letter" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:8.5in; 
		 height:11in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.5in; 
		 top:.5in; 
		 width:3.5in; 
		 height:5in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.5in; 
		 top:5.365in; 
		 width:3.5in; 
		 height:5in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.5in; 
		 top:.5in; 
		 width:3.5in; 
		 height:2in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.5in; 
		 top:2.938in; 
		 width:3.5in; 
		 height:2in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:5.938in; 
		 width:3.5in; 
		 height:2in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image6" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:8.365in; 
		 width:3.5in; 
		 height:2in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
