<HTML>
<HEAD>
<TITLE>16 photos</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="8x10"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:8.0in;
		 height:10.0in;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.392470588235in;
		 top:1.51545454545in;
		 width:2.15717647059in;
		 height:2.84090909091in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image15"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.392470588235in;
		 top:0.473636363636in;
		 width:2.15717647059in;
		 height:0.947272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:2.64752941176in;
		 top:0.473636363636in;
		 width:2.05929411765in;
		 height:2.74636363636in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image11"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.80376470588in;
		 top:0.473636363636in;
		 width:2.74541176471in;
		 height:1.61in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image16"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.80376470588in;
		 top:2.17818181818in;
		 width:2.75482352941in;
		 height:1.04181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:3.92188235294in;
		 top:3.31454545455in;
		 width:1.56894117647in;
		 height:2.36727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:5.58870588235in;
		 top:3.31454545455in;
		 width:1.95105882353in;
		 height:2.36727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image6"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:5.00047058824in;
		 top:5.77636363636in;
		 width:2.54870588235in;
		 height:1.70454545455in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image13"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:3.92188235294in;
		 top:5.77636363636in;
		 width:0.980705882353in;
		 height:1.71363636364in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image7"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:1.86258823529in;
		 top:7.57545454545in;
		 width:2.64752941176in;
		 height:1.99818181818in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image10"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.392470588235in;
		 top:7.57545454545in;
		 width:1.37223529412in;
		 height:1.99818181818in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image8"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.608in;
		 top:7.57545454545in;
		 width:2.94117647059in;
		 height:1.99818181818in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.392470588235in;
		 top:6.25in;
		 width:3.43152941176in;
		 height:1.23090909091in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image12"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:1.47105882353in;
		 top:4.45090909091in;
		 width:2.35294117647in;
		 height:1.70454545455in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image14"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.392470588235in;
		 top:4.45090909091in;
		 width:0.980705882353in;
		 height:1.70454545455in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image9"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:2.64752941176in;
		 top:3.31454545455in;
		 width:1.17647058824in;
		 height:1.04181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
