<HTML>
<HEAD>
<TITLE>9 photos, no border</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="8x10"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:8.0in;
		 height:10.0in;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:0.454545454545in;
		 width:2.72941176471in;
		 height:3.90909090909in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:3.2in;
		 top:0.454545454545in;
		 width:4.32941176471in;
		 height:2.63636363636in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:3.2in;
		 top:3.09090909091in;
		 width:2.35294117647in;
		 height:1.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:5.55294117647in;
		 top:3.09090909091in;
		 width:1.97647058824in;
		 height:3.18181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image6"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:2.25882352941in;
		 top:6.27272727273in;
		 width:1.88235294118in;
		 height:1.18181818182in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image9"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:4.14117647059in;
		 top:6.27272727273in;
		 width:3.38823529412in;
		 height:3.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image7"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:6.27272727273in;
		 width:1.78823529412in;
		 height:3.27272727273in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image8"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:2.25882352941in;
		 top:7.45454545455in;
		 width:1.88235294118in;
		 height:2.09090909091in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:4.36363636364in;
		 width:5.08235294118in;
		 height:1.90909090909in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:3;
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
