<HTML>
<HEAD>
<TITLE>16 photos</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="Letter" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:8.5in; 
		 height:11in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:1.667in; 
		 width:2.292in; 
		 height:3.125in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image15" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:0.521in; 
		 width:2.292in; 
		 height:1.042in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.813in; 
		 top:0.521in; 
		 width:2.188in; 
		 height:3.021in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image11" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:5.104in; 
		 top:0.521in; 
		 width:2.917in; 
		 height:1.771in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image16" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:5.104in; 
		 top:2.396in; 
		 width:2.927in; 
		 height:1.146in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.167in; 
		 top:3.646in; 
		 width:1.667in; 
		 height:2.604in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:5.938in; 
		 top:3.646in; 
		 width:2.073in; 
		 height:2.604in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image6" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:5.313in; 
		 top:6.354in; 
		 width:2.708in; 
		 height:1.875in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image13" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.167in; 
		 top:6.354in; 
		 width:1.042in; 
		 height:1.885in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image7" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:1.979in; 
		 top:8.333in; 
		 width:2.813in; 
		 height:2.198in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image10" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:8.333in; 
		 width:1.458in; 
		 height:2.198in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image8" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.896in; 
		 top:8.333in; 
		 width:3.125in; 
		 height:2.198in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:6.875in; 
		 width:3.646in; 
		 height:1.354in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image12" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:1.563in; 
		 top:4.896in; 
		 width:2.5in; 
		 height:1.875in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image14" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:4.896in; 
		 width:1.042in; 
		 height:1.875in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image9" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.813in; 
		 top:3.646in; 
		 width:1.25in; 
		 height:1.146in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
</BODY>
</HTML>
