<HTML>
<HEAD>
<TITLE>9 photos</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="Letter" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:8.5in; 
		 height:11in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:0.521in; 
		 width:2.292in; 
		 height:4.292in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.813in; 
		 top:0.521in; 
		 width:5.208in; 
		 height:3.021in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.167in; 
		 top:3.646in; 
		 width:1.667in; 
		 height:2.604in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:5.938in; 
		 top:3.646in; 
		 width:2.073in; 
		 height:2.604in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image6" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.167in; 
		 top:6.354in; 
		 width:3.854in; 
		 height:1.875in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image7" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:8.333in; 
		 width:4.375in; 
		 height:2.198in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image8" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.896in; 
		 top:8.333in; 
		 width:3.125in; 
		 height:2.198in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.417in; 
		 top:4.896in; 
		 width:3.646in; 
		 height:3.323in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image9" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.813in; 
		 top:3.646in; 
		 width:1.25in; 
		 height:1.146in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
</BODY>
</HTML>
