<HTML>
<HEAD>
<TITLE>znew tab 4x6in borderless</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="printsPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="4x6 w/tab" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:4in; 
		 height:6in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0mm; 
		 top:0mm; 
		 width:4in; 
		 height:6in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
</BODY>
</HTML>

