<HTML>
<HEAD>
<TITLE>znew tab 2 big 4 small</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="4x6 w/tab" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:4in; 
		 height:6in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.125in; 
		 top:.125in; 
		 width:2.4584in; 
		 height:2.8126in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.7084in; 
		 top:.125in; 
		 width:1.1667in; 
		 height:1.3438in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:2.7084in; 
		 top:1.5938in; 
		 width:1.1667in; 
		 height:1.3438in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.125in; 
		 top:3.0626in; 
		 width:1.1667in; 
		 height:1.3438in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:1.4167in; 
		 top:3.0626in; 
		 width:2.4584in; 
		 height:2.8126in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image6" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.125in; 
		 top:4.55in; 
		 width:1.1667in; 
		 height:1.3438in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
