<HTML>
<HEAD>
<TITLE>znew tab 1 big 4 small</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="4x6 w/tab" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 height:4in; 
		 width:6in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 top:.125in; 
		 left:.125in; 
		 height:1.8125in; 
		 width:1.375in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 top:2.0625in; 
		 left:.125in; 
		 height:1.8125in; 
		 width:1.375in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 top:.125in; 
		 left:1.65in; 
		 height:3.75in; 
		 width:2.7in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 top:.125in; 
		 left:4.5025in; 
		 height:1.8125in; 
		 width:1.3725in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 top:2.0625in; 
		 left:4.5025in; 
		 height:1.8125in; 
		 width:1.3725in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
