<HTML>
<HEAD>
<TITLE>znew 1 photo caption</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="4x6 w/tab"
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:4in; 
		 height:6in; 
		 z-index:1;  
		 background-color: #FFFFCC"></DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.125in; 
		 top:.125in; 
		 width:3.75in; 
		 height:4.927in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note2" 
	 HPTYPE="text" 
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal" 
	 STYLE="position:absolute; 
		 left:.125in; 
		 top:5.14in; 
		 width:3.75in; 
		 height:.35in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> 
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center"> 
    Click Here</P>
</DIV>
</BODY>
</HTML>
