<HTML>
<HEAD>
<TITLE>znew 4x5 with caption</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="5x7" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:5in; 
		 height:7in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.5in; 
		 top:.5in; 
		 width:4in; 
		 height:5.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="note1" 
	 HPTYPE="text" 
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal" 
	 STYLE="position:absolute; 
		 left:.5in; 
		 top:5.9in; 
		 width:4in; 
		 height:.5in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
</BODY>
</HTML>
