<HTML>
<HEAD>
<TITLE>znew borderless 5x7</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="printsPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="5x7" 
	 STYLE=" scalable: fixed; 
		 position:absolute; left:0px; top:0px; 
		 width:5in; 
		 height:7in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.0in; 
		 top:0.0in; 
		 width:5in; 
		 height:7in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
</BODY>
</HTML>
