<HTML>
<HEAD>
<TITLE>znew 3 photos, ZigZag captions</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage"
	 HPTYPE="page"
	 HPPAGESIZENAME="8x10"
	 STYLE=" scalable: yes;
		 position:absolute; left:0px; top:0px;
		 width:8.0in;
		 height:10.0in;
		 z-index:1;
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:3.29411764706in;
		 top:0.454545454545in;
		 width:4.23529411765in;
		 height:2.72727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note1"
	 HPTYPE="text"
	 HPMATCHTO="image1"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:0.454545454545in;
		 width:2.58823529412in;
		 height:2.72727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image2"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:3.54545454545in;
		 width:4.23529411765in;
		 height:2.72727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note2"
	 HPTYPE="text"
	 HPMATCHTO="image2"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:4.94117647059in;
		 top:3.54545454545in;
		 width:2.58823529412in;
		 height:2.72727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
<DIV ID="image3"
	 HPTYPE="photo"
	 STYLE="position:absolute;
		 left:3.29411764706in;
		 top:6.63636363636in;
		 width:4.23529411765in;
		 height:2.72727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF"> </DIV>
<DIV ID="note3"
	 HPTYPE="text"
	 HPMATCHTO="image3"
	 HPATTITUDE="horizontal"
	 STYLE="position:absolute;
		 left:0.470588235294in;
		 top:6.63636363636in;
		 width:2.58823529412in;
		 height:2.72727272727in;
		 border-style: solid;
		 border-color: black;
		 border-width: medium;
		 z-index:2;
		 background-color: #FFFFFF">
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: center">
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
