<HTML>
<HEAD>
<TITLE>znew Big photo & 4 small</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="A4" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:210mm; 
		 height:297mm; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:3.198in; 
		 width:7.25in; 
		 height:5.292in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="image2" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:.5in; 
		 top:.5in; 
		 width:3.4in; 
		 height:2.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image3" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.38in; 
		 top:.5in; 
		 width:3.4in; 
		 height:2.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image4" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:8.938in; 
		 width:3.4in; 
		 height:2.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
<DIV ID="image5" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:4.375in; 
		 top:8.938in; 
		 width:3.4in; 
		 height:2.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV>
</BODY>
</HTML>
