<HTML>
<HEAD>
<TITLE>znew Photo & Text Brochure</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<DIV ID="albumPage" 
	 HPTYPE="page" 
	 HPPAGESIZENAME="Letter" 
	 STYLE=" scalable: yes; 
		 position:absolute; left:0px; top:0px; 
		 width:8.5in; 
		 height:11in; 
		 z-index:1;  
		 background-color: #FFFFCC"> </DIV>
<DIV ID="image1" 
	 HPTYPE="photo" 
	 STYLE="position:absolute; 
		 left:0.49in; 
		 top:1.7in; 
		 width:7.5in; 
		 height:4.5in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:3;	
		 background-color: #FFFFFF"> </DIV> 
<DIV ID="note1" 
	 HPTYPE="text" 
	 HPATTITUDE="horizontal" 
	 STYLE="position:absolute; 
		 left:0.49in; 
		 top:0.594in; 
		 width:7.5in; 
		 height:0.813in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> 
   <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 36pt; font-weight: bold; text-align: center"> 
      Click Here to add Text </P>
</DIV>
<DIV ID="note2" 
	 HPTYPE="text" 
	 HPATTITUDE="horizontal" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:6.385in; 
		 width:7.5in; 
		 height:3.5in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> 
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: left" > 
      Click Here to add Text </P>
</DIV>
<DIV ID="note3" 
	 HPTYPE="text" 
	 HPATTITUDE="horizontal" 
	 STYLE="position:absolute; 
		 left:0.5in; 
		 top:10.1in; 
		 width:1.979in; 
		 height:.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> 
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: left" > 
      Click Here to add Text </P>
</DIV>
<DIV ID="note4" 
	 HPTYPE="text" 
	 HPATTITUDE="horizontal" 
	 STYLE="position:absolute; 
		 left:6in; 
		 top:10.1in; 
		 width:1.979in; 
		 height:.25in; 
		 border-style: solid; 
		 border-color: black; 
		 border-width: medium; 
		 z-index:2;	
		 background-color: #FFFFFF"> 
  <P STYLE="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; text-align: right" > 
    Click Here to add Text </P>
</DIV>
</BODY>
</HTML>
